# Build Tools
setuptools>=70.0.0
wheel>=0.43.0

# Core ML
numpy>=1.26.0
opencv-python-headless>=4.9.0.80
Pillow>=10.2.0
scikit-learn>=1.4.0
joblib>=1.3.2

# Web Framework
Flask>=3.0.0

# Deployment
gunicorn>=21.2.0
